body{
    margin: 0;
    padding: 0;
}
#container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
}
#divform{
    width: 100%;
    max-width: 500px;
    background-color: #eee;
    border: solid 1px #aaa;
    padding: 20px;
}
input{
    width: 100%;
    margin: 10px 0;
    padding: 0;
}
button{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: coral;
}
select{
    width: 100%;
    margin: 10px 0;
    padding: 0;
}
button:hover{
    background-color: #00bfbf;
    color: white;
    box-shadow: 5px 5px 5px 0 #888888;
    border: none;
}
button:active{
    box-shadow: 5px 5px blue;
}
@media (max-width: 500px){
    #container{
        align-items: flex-start;
    }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inputmessages{
    color: orange;
}
#greska{
    padding-top: 5px;
    color: red;
}
div>form>label:first-of-type{
    color: lightcoral;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px lightgrey;
}